.navbar-cr {
  height: 8vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar-cr h2 {
  font-size: 2em;
  color: white;
}

.nav-img {
  height: 8vh;
  border-radius: 50%;

}


@media only screen and (max-width: 600px) {
.nav-text-1 {
  display: none;
}
}

